@font-face {
  font-display: swap;
  font-family: 'Josefin Sans';
  src: url('../fonts/JosefinSans-BoldItalic.woff2') format('woff2'),
    url('../fonts/JosefinSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'Josefin Sans';
  src: url('../fonts/JosefinSans-SemiBold.woff2') format('woff2'),
    url('../fonts/JosefinSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Josefin Sans';
  src: url('../fonts/JosefinSans-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/JosefinSans-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'Josefin Sans';
  src: url('../fonts/JosefinSans-Bold.woff2') format('woff2'),
    url('../fonts/JosefinSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Josefin Sans';
  src: url('../fonts/JosefinSans-Regular.woff2') format('woff2'),
    url('../fonts/JosefinSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Josefin Sans';
  src: url('../fonts/JosefinSans-Italic.woff2') format('woff2'),
    url('../fonts/JosefinSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@tailwind base;
@tailwind components;

* {
  @apply outline-none relative;
}

.rise {
  @apply shadow-md transition-all duration-200 ease-in-out transform;
}

.rise:focus,
.rise:hover {
  @apply shadow-lg -translate-y-1;
}

.rise:active {
  @apply shadow-md translate-y-0;
}

.navigation a {
  @apply border-b-2 border-transparent;
}

.navigation a.active {
  @apply border-b-2 border-yellow-400 text-white;
}

.navigation a:not(.active)::after {
  @apply absolute bottom-0 left-0 w-full bg-yellow-400 transition-all ease-in-out duration-200 transform origin-bottom-left scale-0;
  content: '';
  height: 2px;
  margin-bottom: -2px;
}

.navigation a:not(.active):focus::after,
.navigation a:not(.active):hover::after {
  @apply transform scale-100 origin-bottom-right;
}

.contact-button svg {
  @apply transition-all duration-200 ease-in-out transform;
}

.contact-button:focus svg,
.contact-button:hover svg {
  @apply translate-x-1;
}

.contact-button:active svg {
  transform: translateX(0);
}

@tailwind utilities;

.cursor-help {
  cursor: help;
}
